* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
.container{
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.leftside{
  width: 20vw;
  height: 100vh;
  background: #40c0a0;
  padding: 10px;
}

.compHolder{
  padding: 100px;
  margin: 100px;
  width: 80vw; 


}
header{
  margin-bottom: 50px;
  text-align: center;
}
header h1 {
  color: rgb(225, 223, 223);
  font-size: 100px;

}
.inputtodo{
  position: relative;
  height: 37px;
  width: 500px;
  display: flex;
  margin: auto;

}
.inputtodo input{
  width: 100%;
  height: 100%;
  border-radius: 100px;
  box-shadow: 1px 5px 22px -9px black;
  padding: 0 50px 0 20px;
  outline: none;
  border: none;
}
.inputtodo button{
  position: absolute;
  top:5px;
  right: 10px;
  background-color: rgb(77, 105, 226);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
  color: white;
  font-weight: bold;
  outline: none;
}
.item{
  margin-top: 25px;
}
.item-holder{
  height: 50px;
  width: 500px;
  display: flex;
  align-items: center;
  margin: 6px auto;
  border: 1px dotted blue;
  padding: 10px;
}
.item-holder button{
  margin-left: auto;
  margin-right: 10px;
  background-color: rgba(128, 128, 128, 0.255);
  color: red;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.item-holder button i{
  font-size: 17px;
}
.item-holder input{
  margin-right: 5px;
}
input:checked{
  text-decoration: line-through;
  color: gray;

}
.leftside .close{
  color: white;
  font-size: 45px;
  margin-left: 10px;
  text-decoration: none !important;
  text-align: none !important;
}
.leftside ul li a:hover{
  color: red;
}
.leftside ul li a{
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: white;
}
.leftside ul li{
  margin: 15px 20px !important;
}
.leftside ul{
  list-style-type: none;
}
